<div class="color-picker" click-outside="$ctrl.hidePopup()">
    <button ng-click="$ctrl.togglePopup()" class="color-picker-button">
        <div class="button-color-preview" style="background-color: {{$ctrl.ngModel.$viewValue}}"></div>
        <i class="fa fa-caret-down button-caret"></i>
    </button>
    <div class="color-picker-selector js-selector" ng-class="{'isShown': $ctrl.popupShown}" ng-if="$ctrl.popupShown" ng-init="$ctrl.onPopupShown()">
        <div class="color-container">
            <button ng-click="$ctrl.selectColorAndHide(stdColor)" ng-repeat="stdColor in ::($ctrl.standardColors) track by $index" class="button-color">
                <div class="button-color-preview" style="background-color: {{stdColor}}"></div>
            </button>
        </div>
        <div class="separator"></div>
        <div class="color-container">
            <button ng-click="$ctrl.selectColorAndHide(userColor)" ng-repeat="userColor in ::($ctrl.userColors) track by $index" class="button-color">
                <div class="button-color-preview" style="background-color: {{userColor}}"></div>
            </button>
        </div>
        <div class="separator"></div>
        <div class="select-color__container">
            <div class="select-color__lightness-saturation js-lightness-saturation">
                <div class="select-color__lightness">
                </div>
                <div class="select-color__saturation js-hsl-container">
                    <div class="select-color__saturation-handle js-hsl-handle"></div>
                </div>
            </div>
            <div class="margin"></div>
            <div class="select-color__hue js-hue-container">
                <div class="select-color__hue-handle js-hue-handle"></div>
            </div>
        </div>
        <div class="margin"></div>
        <div class="picker-cmyk">
            <div class="picker-cmyk__input">
                <span>C:</span>
                <input min="0" max="100" type="number" ng-model="$ctrl.cmykC" ng-change="$ctrl.cmykChanged()" />
            </div>
            <div class="picker-cmyk__input">
                <span>M:</span>
                <input min="0" max="100" type="number" ng-model="$ctrl.cmykM" ng-change="$ctrl.cmykChanged()" />
            </div>
            <div class="picker-cmyk__input">
                <span>Y:</span>
                <input min="0" max="100" type="number" ng-model="$ctrl.cmykY" ng-change="$ctrl.cmykChanged()" />
            </div>
            <div class="picker-cmyk__input">
                <span>K:</span>
                <input min="0" max="100" type="number" ng-model="$ctrl.cmykK" ng-change="$ctrl.cmykChanged()" />
            </div>
        </div>
        <div class="margin"></div>
        Selected color: {{$ctrl.selectedColorString}}
    </div>
</div>
